[data-testid=metric-container] {
    box-shadow: 0 0 4px #343980;
    padding: 10px;
}

section.st-emotion-cache-bm2z3a {
    background-color: #393d6d;
}

section.stMain.st-emotion-cache-bm2z3a.eht7o1d1{
    background-color: #393d6d;
}

div.stBottom.st-emotion-cache-1p2n2i4.eht7o1d2{
    background-color: #393d6d;
}

div.st-emotion-cache-18netey, p{
    color: white;
}

div.st-emotion-cache-1dqeyq3 {
    width: 400px;
}